@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

body {
	font-family: 'Titillium Web', Arial, Verdana, Geneva, Helvetica, sans-serif;
}

#wrapper {
	width: 500px;
	margin: 0 auto;
}

.block {
	padding: 5px;
	text-align: center;
	cursor: pointer;
}
.block-site {
	font-size: 75%;
}
.block-site a {
	color: white;
	opacity: .4;
}
.block-site a:hover {
	color: #f5f2ce;
	opacity: 1;
}
.light a {
	color: gray;
	opacity: .4;
}
.light a:hover {
	color: darkgray;
	opacity: 1;
}