@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

body {
	font-family: 'Titillium Web', Arial, Verdana, Geneva, Helvetica, sans-serif;

	padding: 15px;
	margin: 0;
}
body.theme-ocean-view {
	background-image: url("../images/theme-ocean-view-wallpaper.jpg");
	background-position: 50% 0%;
	background-repeat: no-repeat;
}

#logo {
	background: url("../images/relax.png") left top no-repeat;
	height: 128px;
	width: 128px;
	position: fixed;
	overflow: hidden;
	margin-left: -160px;

	opacity: .1;

	-moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
#logo:hover {
	height: 500px;
	opacity: 1;
}
#logo .title {
	margin-top: 130px;
	text-align: center;

	font-size: 15pt;
}

#wrapper {
	width: 500px;
	margin: 0 auto;
}

.block {
	padding: 10px;
	text-align: center;
	min-height: 150px;

	cursor: pointer;

	border: 6px solid rgba(255, 255, 255, 0.45);
	border-bottom: none;
}
.theme-ocean-view .block{
	border: 6px solid rgba(255, 255, 255, 0.45);
	border-bottom: none;
}
.block-site {
	font-size: 75%;
}
.block-site a {
	color: white;
	opacity: .4;
}
.block-site a:hover {
	color: #f5f2ce;
	opacity: 1;
}
.light a, .white a {
	color: gray;
	opacity: .4;
}
.light a:hover, .white a:hover {
	color: darkgray;
	opacity: 1;
}
.white {
	border: 1px solid gray;
	background-color: white;
}

.display {
	position: absolute;
	margin: 0px 7px;

	color: white;
}
.light .display, .white .display {
	color: gray;
}

#footer {
	width: 400px;
	padding: 15px 50px 0;
	margin: 0 auto;

	font-size: 8pt;
	line-height: 10pt;

	color: gray;
}
#footer a {
	color: gray;
}
#footer a:hover {
	color: darkgray;
}
#footer .small {
	margin-top: 7px;

	font-size: 90%;
	line-height: 90%;
}

.block-za-oblakami-relax .block-logo {
	margin: 4px;
	height: 80px;
}
.block-lite-sound-session .block-logo {
	margin: 8px;
}
.block-relax-fm .block-logo {
	margin: 4px;
}
.block-sanfm-relax .block-logo {
	margin: 5px 0 14px;
}
.block-radio-tunes-relaxation .block-logo {
	margin: 15px 0 6px;
}
.block-relax-ua {
	padding-top: 8px;
}
.theme-ocean-view .block-relax-ua {
	border: 6px solid rgba(0, 178, 208, 0.44);
}
.block-relax-ua .block-logo {
	height: 88px;
}

/* AddThis style override */
.addthis_floating_style {
	position: relative !important;
	left: 30px !important;
	top: 15px !important;
	padding: 7px 4px 0 !important;
}